.card {
    width: 250px !important; 
    height: 350px !important;
padding: 1.5%;
box-shadow: 0 5px 0 8px;
}

/* .card img{ */
    /* width: 100%; */
    /* height:10px ; */
    /* object-fit: cover !important; */
/* } */

/* swiper
swiper-wrapper
swiper-slide
swiper-pagination
swiper-button-prev
swiper-button-next
swiper-scrollbar */

.swiper{
    background-color: #81e58b8c !important;
}
/* ok bhai  yah import  wali file kun se kha rakh ny yah yad nahi aar slider wali */

/* swiper ko wahan imort kareinge jahan swiper ko use krn ahaiok */

/* tum tab tak slider ready karo agar koi masla aaye to msg krna main namaz padhne jarha hun kusy namz */
/* aser ke accha yah anyesk par request kese send hota hain by=us yah batao */

